
<div class="clearfix" id="namecard">
  <div class="small-12 large-9 columns" id="intro">
    <h3>Hello</h3>
    <p>It's nice to have you reading this!</p>
    <p>I'm a new programmer who's still naive and optimistic, and eager to get my hands dirty with codes. </p>
    <p>I'd love to have a chat!</p>
  </div>
  <div class="small-6 large-3 columns" id="profilepic">
    <img src="/img/keang.png" id="display-pic">
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 columns">
    <h4>Recent posts:</h4>
    <ul>
      <li ng-repeat="post in posts | orderBy:orderProp:true">
        <a href="#/blog/{{post.post_id}}">{{post.title}}</a>
      </li>
    </ul>
  </div>
  <div class="small-12 medium-6 columns">
    <h4>To play with next:</h4>
    <ul>
      <li ng-repeat="d in todo">
        {{d}}
      </li>
    </ul>
  </div>
</div>


<div class="row">
	<div class="small-12 columns">
	  <h2>My Projects:</h2>
  </div>
</div>
<div><!-- ng-controller="ProjectsCtrl"-->
  <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4 projects">
    <li ng-repeat="p in projects">
      <div id="project-item">
        <a href="{{p.link}}"><img src="/img/{{p.image}}">
        {{p.title}}</a>
        <div ng-bind-html-unsafe="p.description"></div>
      </div>
    </li>
  </ul>
</div>

</div>
<div class="row">
	<div class="small-12 columns contacts">
		<h2>Find me:</h2>
		<ul>
			<li><a href="mailto:skeang@gmail.com">skeang@gmail.com</a></li>
			<li><a href="https://github.com/keang">Github</a></li>
			<li><a href="http://skeang.tumblr.com/">My doodling</a></li>
			<li><a href="http://www.linkedin.com/in/skeang">Mandatory Linkedin profile</a></li>
		</ul>
  </div>
</div>