<div class="row luna-main-container">
  <div class="large-12 columns single-post" ng-show="post_loaded">
    <h2>{{current_post.title}}</h2>
    <p class="post-date">{{current_post.date}}</p>
    <div ng-bind-html-unsafe="current_post.content"></div>
    <br>
    <a ng-show="older_post_id" href="#/blog/{{older_post_id}}" style="float:left">
      <span class="glyphicon glyphicon-chevron-left"> Older</a>
    <a ng-show="newer_post_id" href="#/blog/{{newer_post_id}}" style="float:right">
      Newer  <span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
  <div class="large-12 columns" ng-show="blog.use_disqus">
    <hr/>
    <div id="disqus_thread"></div>
  </div>
</div>

